<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Home-Tune Hub</title>
<link rel="stylesheet" href="index.css">
</head>
<body>
<div>
	<header>

  <nav>
    <div class="logo">
      <h1 class="music-logo">Tune Hub</h1>
    </div>
    <ul class="nav-links">
      <li><a href="/map-adminhome">Home</a></li>
      <li><a href="/map-addsongs-page">Add Songs</a></li>
      <li><a href="/map-viewsongs-admin">View Songs</a></li>
      <li><a href="map-create-playlist-admin">Create Playlist</a></li>
      <li><a href="/map-view-playlist-admin">View Playlist</a></li>
      <li><a href="#">Log out</a></li>
      
    </ul>
  </nav>
</header>
</div>
<div>
	<div class="welcome-div">
		<h1 class="welcome-h1">Welcome to Admin Home</h1>
		<h3 class="welcome-h3">Enjoy our music streaming</h3>
		<img class="welcome-logo" alt="Tune Hub" src="Images/music_logo.png">
	</div>
</div>

</body>
</html>
