<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tune Hub Home</title>
<link rel="stylesheet" href="customerhome.css">
</head>
<body>
<div>
	<header>

  <nav>
    <div class="logo">
      <h1 class="music-logo">Tune Hub</h1>
    </div>
    <ul class="nav-links">
      <li><a href="/map-exploresongs-customer">Explore Songs</a></li>
      <li><a href="/map-PrimePurchasePage-customer">Purchase Prime Subscription</a></li>
      <li><a href="#">Log out</a></li>
      
    </ul>
  </nav>
</header>
</div>
<div>
	<div class="container">
	    <div class="text">You are not a prime member so you have not accessed to explore our music streaming services. Kindly Purchase your Prime Subscription to explore and enjoy our music streaming services-Tune Hub </div>
	</div>
	<div class="welcome-div">
		<h1 class="welcome-h1">Welcome to Tune Hub Home</h1>
		<h3 class="welcome-h3">Enjoy our music streaming services</h3>
		<img class="welcome-logo" alt="Tune Hub" src="Images/music_logo.png">
	</div>
</div>

</body>
</html>
