<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome to Tune Hub</title>
<link rel="stylesheet" href="index.css">
</head>
<body>
<div>
	<header>

  <nav>
    <div class="logo">
      <h1 class="music-logo">Tune Hub</h1>
    </div>
    <ul class="nav-links">
      <li><a href="#">About</a></li>
      <li><a href="/map-login">Log In</a></li>
      <li><a href="/map-register">Sign In</a></li>
      
    </ul>
  </nav>
</header>
</div>
<div>
	<div class="welcome-div">
		<h1 class="welcome-h1">Welcome to Tune Hub</h1>
		<h3 class="welcome-h3">Sign in to Tune Hub for enjoy our music streaming</h3>
		<img class="welcome-logo" alt="Tune Hub" src="Images/music_logo.png">
	</div>
</div>

</body>
</html>
